button {
  background-color: rgb(123, 82, 163);
  padding: 10px 40px;
  color: #ffff;
  border: none;
  border-radius: 20px;
  margin-top: 20px;
}

button:active {
  background-color: rgb(76, 48, 104);
}

fa-icon{
  font-size: 60px;
  display: flex;
  justify-content: center;
}